<div class="container mt-5 col-md-4">
  <h3>Register</h3>
  <form (ngSubmit)="register()">
    <input type="text" class="form-control mb-2" [(ngModel)]="username" name="username" placeholder="Username" required>
    <input type="email" class="form-control mb-2" [(ngModel)]="email" name="email" placeholder="Email" required>
    <input type="password" class="form-control mb-2" [(ngModel)]="password" name="password" placeholder="Password" required>
    <button class="btn btn-success w-100">Register</button>
  </form>
</div>
